db.url=jdbc:mysql://localhost:3306/hrm_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
db.username=root
db.password=your_mysql_password
rmi.host=localhost
rmi.port=1099

# SSL/TLS for RMI (run: bash ssl/generate-certs.sh)
ssl.keystore=ssl/server-keystore.jks
ssl.keystore.password=changeit
ssl.truststore=ssl/client-truststore.jks
ssl.truststore.password=changeit
